extends "_layouts/base.jade"

block page_title
    | Forbidden :(

block content
    .jumbotron
        .container
            h1 Forbidden
                span  :(

            p Sorry, but your request was forbidden by the server.
