extends "_layouts/base.jade"

block page_title
    | Server Error

block content
    .jumbotron
        .container
            h1 Server Error
                span  :(

            p Sorry, but the server encountered an error while processing your request.
