!!! 5
html.no-js(lang="ru")
    - load compress staticfiles

    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title
            block page_title
                {{ _("Your Site") }}

        meta(name="description", content="{% block meta_description %}{% endblock %}")
        meta(name="author", content="{% block meta_author %}{% endblock %}")

        block meta

        - compress css
            link(rel="stylesheet", href="{% static 'less/theme.less' %}", type="text/less")

            block css

        - compress js
            script(src="{% static 'js/libs/modernizr.js' %}")

        // if IE
            meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
            meta(http-equiv="cleartype", content="on")

        // if lt IE 9
            script(src="{% static 'js/libs/respond.src.js' %}")

    body(class="{% block body_class %}{% endblock %}")
        block body
            // if lt IE 8
                .alert.alert-warning
                    .container
                        | You are using an
                        strong outdated
                        | browser. Please
                        a(href="http://browsehappy.com/") upgrade your browser
                        | to improve your experience.

            header.header
                block header

            main.wrapper(role="main")
                block content

            footer.footer
                block footer

            - compress js
                script(src="{% static 'js/libs/jquery.js' %}")
                script(src="{% static 'js/main.js' %}")

                block js
