!!! 5
html.no-js(lang="ru")
    - load compress staticfiles cms_tags sekizai_tags

    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, minimal-ui")

        title
            block page_title
                - page_attribute "page_title"

        meta(name="description", content="{% block meta_description %}{% endblock %}")
        meta(name="author", content="{% block meta_author %}{% endblock %}")

        block meta

        meta(name="mobile-web-app-capable", content="yes")

        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        meta(name="apple-mobile-web-app-title", content="")

        link(rel="apple-touch-icon", sizes="29x29", href="{% static 'apple-touch-icon-29x29-precomposed.png' %}")
        link(rel="apple-touch-icon", sizes="40x40", href="{% static 'apple-touch-icon-40x40-precomposed.png' %}")
        link(rel="apple-touch-icon", sizes="50x50", href="{% static 'apple-touch-icon-50x50-precomposed.png' %}")
        link(rel="apple-touch-icon", sizes="57x57", href="{% static 'apple-touch-icon-57x57-precomposed.png' %}")
        link(rel="apple-touch-icon", sizes="58x58", href="{% static 'apple-touch-icon-58x58-precomposed.png' %}")
        link(rel="apple-touch-icon", sizes="60x60", href="{% static 'apple-touch-icon-60x60-precomposed.png' %}")
        link(rel="apple-touch-icon", sizes="72x72", href="{% static 'apple-touch-icon-72x72-precomposed.png' %}")
        link(rel="apple-touch-icon", sizes="76x76", href="{% static 'apple-touch-icon-76x76-precomposed.png' %}")
        link(rel="apple-touch-icon", sizes="80x80", href="{% static 'apple-touch-icon-80x80-precomposed.png' %}")
        link(rel="apple-touch-icon", sizes="100x100", href="{% static 'apple-touch-icon-100x100-precomposed.png' %}")
        link(rel="apple-touch-icon", sizes="114x114", href="{% static 'apple-touch-icon-114x114-precomposed.png' %}")
        link(rel="apple-touch-icon", sizes="120x120", href="{% static 'apple-touch-icon-120x120-precomposed.png' %}")
        link(rel="apple-touch-icon", sizes="144x144", href="{% static 'apple-touch-icon-144x144-precomposed.png' %}")
        link(rel="apple-touch-icon", sizes="152x152", href="{% static 'apple-touch-icon-152x152-precomposed.png' %}")

        meta(name="msapplication-TileImage", content="{% static 'ms-touch-icon-144x144-precomposed.png' %}")
        meta(name="msapplication-TileColor", content="")

        link(rel="shortcut icon", href="{% static 'touch-icon-57x57.png' %}")
        link(rel="shortcut icon", href="{% static 'touch-icon-196x196.png' %}", sizes="196x196")

        link(rel="shortcut icon", href="{% static 'favicon.ico' %}", type="image/x-icon")

        - compress css
            link(rel="stylesheet", href="{% static 'less/theme.less' %}", type="text/less")

            block css

        - render_block "css"

        - compress js
            script(src="{% static 'js/libs/modernizr.js' %}")

        // if IE
            meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
            meta(http-equiv="cleartype", content="on")

        // if lt IE 9
            script(src="{% static 'js/libs/respond.src.js' %}")

    body(class="{% block body_class %}{% endblock %}")
        - cms_toolbar

        .wrapper
            // if lt IE 9
                .container.alert.alert-warning.fade.in
                    button.close(type="button", data-dismiss="alert", aria-hidden="true") &times;
                    | You are using an&ensp;
                    strong outdated
                    | &ensp;browser. Please&ensp;
                    a(href="http://browsehappy.com/") upgrade your browser
                    | &ensp;to improve your experience.

            - include "_layouts/header.jade"
            - include "_layouts/navbar.jade"

            main(role="main")
                block content

            - include "_layouts/footer.jade"

        block modal

        - compress js
            - include "_layouts/scripts.jade"

            block js

        - render_block "js"
