!!! 5
html.no-js(lang="en")
    - load compress staticfiles

    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title
            block page_title
                {{ _("Your Site") }}

        meta(name="description", content="{% block meta_description %}{% endblock %}")
        meta(name="author", content="{% block meta_author %}{% endblock %}")

        block meta

        - compress css
            link(rel="stylesheet", href="{% static 'less/theme.less' %}", type="text/less")
            block css

        - compress js
            script(src="{% static 'js/libs/modernizr.js' %}")
            script(src="{% static 'js/libs/respond.src.js' %}")

        // if IE
            meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

    body(class="{% block body_class %}{% endblock %}")
        block body
            //if lt IE 7
                p.chromeframe
                    | You are using an
                    strong outdated
                    | browser. Please
                    a(href="http://browsehappy.com/") upgrade your browser
                    | or
                    a(href="http://www.google.com/chromeframe/?redirect=true") activate Google Chrome Frame
                    | to improve your experience.

            header
                block header

            main(role="main")
                block content

            footer
                block footer

            - compress js
                block js
                    script(src="{% static 'js/main.js' %}")
