!!! 5
html.no-js(lang="ru")
    - load compress staticfiles cms_tags sekizai_tags

    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title
            block page_title
                {{ _("Your Site") }}

        meta(name="description", content="{% block meta_description %}{% endblock %}")
        meta(name="author", content="{% block meta_author %}{% endblock %}")

        block meta

        - compress css
            link(rel="stylesheet", href="{% static 'less/theme.less' %}", type="text/less")

            block css

        - render_block "css"

        - compress js
            script(src="{% static 'js/libs/modernizr.js' %}")

        // if IE
            meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
            meta(http-equiv="cleartype", content="on")

        // if lt IE 9
            script(src="{% static 'js/libs/respond.src.js' %}")

    body(class="{% block body_class %}{% endblock %}")
        - cms_toolbar

        .wrapper
            // if lt IE 8
                .container.alert.alert-warning.fade.in
                    button.close(type="button", data-dismiss="alert", aria-hidden="true") &times;
                    | You are using an
                    strong outdated
                    | browser. Please
                    a(href="http://browsehappy.com/") upgrade your browser
                    | to improve your experience.

            block body
                header.header
                    block header

                main(role="main")
                    block content

                footer.footer
                    block footer

        - compress js
            - include "_layouts/scripts.jade"

            block js

        - render_block "js"
