footer.footer
    .container
        .row
            .col-xs-12.col-md-3
                p.small
                    a.footer-link.text-nodecoration(href="http://welcomemedia.ru", title="Welcome Media", target="_blank")
                        span.text-hover Разработка сайта: Welcome Media
                        span.wm-logo
