- load staticfiles

script(src="{% static 'js/libs/jquery.js' %}")
script(src="{% static 'js/libs/holder.js' %}")

script(src="{% static 'js/bootstrap/transition.js' %}")
script(src="{% static 'js/bootstrap/alert.js' %}")

script(src="{% static 'js/main.js' %}")
