ol.breadcrumb
    for ance in ancestors
        if not forloop.last
            li: a(href="{{ ance.get_absolute_url }}", title="{{ ance.get_menu_title }}") {{ ance.get_menu_title }}

        else
            li.active {{ ance.get_menu_title }}
