ul.pagination
    li(class="{% if not page_list.previous %}disabled{% endif %}")
        a(href="{{ page_list.previous.url }}", title="Предыдущая")
            span.fa.fa-angle-left

    if page in page_list
        li(class="{% if page.is_current %}active{% endif %}")
            a(href="{{ page.url }}", title="{{ page.number }}") {{ page.number }}

    li(class="{% if not page_list.next %}disabled{% endif %}")
        a(href="{{ page_list.next.url }}", title="Следующая")
            span.fa.fa-angle-right
